<!--Auhtor: Amritpal Singh-->

<nav class="navbar nav-pills nav-fill">
    <a class="nav-item nav-link" href="/allPages">All Pages</a>
    <a class="nav-item nav-link" href="/addPage">Add Page</a>
    <a class="nav-item nav-link" href="/logout">Logout</a>
</nav>