<!--Auhtor: Amritpal Singh-->

<%- include('layouts/head'); -%>
    <%- include('layouts/header'); -%>
        <%- include('layouts/homenav'); -%>
            <main>
                <section>
                    <div class="pageData">
                        <div class="pageImage">
                            <img src="uploads/custom.jpeg" alt="custom" style="width: 75%;">
                        </div>
                        <p class="pageTitle">
                            Home
                        </p>
                        <p style="justify-content: end;">
                        <p
                            style="margin: 0px 0px 15px; padding: 0px; text-align: justify; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; background-color: #ffffff;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur neque diam, porttitor
                            quis risus quis, fringilla pellentesque tellus. Quisque ultrices porta libero non varius.
                            Suspendisse nec varius arcu. Proin nec condimentum eros. Suspendisse potenti. Duis tempor
                            fringilla dignissim.</p>
                        <p
                            style="margin: 0px 0px 15px; padding: 0px; text-align: justify; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; background-color: #ffffff;">
                            <code>Sed interdum ipsum id metus scelerisque, vel feugiat ligula varius. Duis ex lacus, malesuada sit amet vulputate vel, aliquet porta risus.</code>
                        </p>
                        <p
                            style="margin: 0px 0px 15px; padding: 0px; text-align: justify; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; background-color: #ffffff;">
                            Maecenas aliquet convallis felis in interdum. Suspendisse ultricies in libero ut viverra.
                            Nam quis vulputate dui. Mauris ligula nunc, luctus vel aliquam at, facilisis sit amet nisl.
                            Curabitur a quam condimentum, elementum ligula sit amet, faucibus sapien. Fusce id nunc et
                            tellus placerat elementum.</p>
                        <blockquote>
                            <p
                                style="margin: 0px 0px 15px; padding: 0px; text-align: justify; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; background-color: #ffffff;">
                                Maecenas ut augue eget eros varius sodales. Nunc aliquet neque ligula, et semper metus
                                ultricies sit amet.</p>
                            <p
                                style="margin: 0px 0px 15px; padding: 0px; text-align: justify; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; background-color: #ffffff;">
                                Mauris vulputate, eros sit amet vestibulum varius, magna quam faucibus tellus, non
                                eleifend lacus sapien et massa.</p>
                            <p
                                style="margin: 0px 0px 15px; padding: 0px; text-align: justify; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; background-color: #ffffff;">
                                Maecenas maximus gravida fermentum. Ut sed vehicula enim. Vivamus in elementum diam, at
                                facilisis nulla. Praesent condimentum porttitor pulvinar. Mauris id rutrum dui, id
                                volutpat dolor. Sed in ligula a nisl volutpat faucibus id at urna.</p>
                        </blockquote>
                        <p
                            style="margin: 0px 0px 15px; padding: 0px; text-align: justify; font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; background-color: #ffffff;">
                            Maecenas tempus tellus vel orci ullamcorper ultricies. Ut ac lorem sit amet ipsum euismod
                            accumsan ac non ex. Duis vestibulum interdum est sed finibus. Pellentesque habitant morbi
                            tristique senectus et netus et malesuada fames ac turpis egestas. Fusce a lectus id nisl
                            fermentum lobortis.</p>
                        </p>
                    </div>
                </section>
            </main>
            <%- include('layouts/footer'); -%>